<div class="page-header">
  <h3>Giver #<%= @giver.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @giver.name %></dd>

      <dt>Email</dt>
      <dd><%= @giver.email %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/givers" class="btn btn-primary">
        Back
      </a>
      <a href="/givers/<%= @giver.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_giver/<%= @giver.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
