<div class="container-fluid andy-center-all">
    <div class="row">
        <div class="col-md-8 landing_welcome">
        </div>
        <div class="col-md-4" height="300">
          <h2 class="landing_welcome-align">Welcome to your page, <%=current_user.first_name %>!</h2>
        </div>
    </div>
    <div class="row landing-core">
      <div class="col-md-7">

        <ul class="nav nav-tabs nav-justified">
          <li class="active"><a href="#recently_added" data-toggle="tab">Recently Added</a></li>
          <li><a href="#upcoming_expiring" data-toggle="tab">Upcoming Expiring</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active in" id="recently_added">
            <table class="table table-striped table-hover">
              <tr class="andy-center">
                <th>Retailer</th>
                <th>Amount</th>
                <th>Actions</th>
              </tr>

              <% @giftcards.each do |giftcard| %>
              <% if giftcard.user_id == current_user.id && giftcard.amount != 0 %>
              <tr>
                <td><%= giftcard.retailer.name %></td>
                <td><%= number_to_currency(giftcard.amount) %></td>
                <td>
                  <a href="/giftcards/<%= giftcard.id %>" class="btn btn-primary btn-sm"><i class="fa fa-info" aria-hidden="true"></i></a>
                  <a href="/giftcards/<%= giftcard.id %>/edit" class="btn btn-warning btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                  <a href="/delete_giftcard/<%= giftcard.id %>" class="btn btn-danger btn-sm" rel="nofollow"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </td>
              </tr>
              <% else %>
              <% end %>
              <% end %>
            </table>

          </div>
          <div class="tab-pane fade" id="upcoming_expiring">
            <table class="table table-striped table-hover">
              <tr class="andy-center">
                <th>Retailer</th>
                <th>Amount</th>
                <th>Expiration</th>
                <th>Actions</th>
              </tr>

              <% @expirings.each do |expiring| %>
              <% if expiring.user_id == current_user.id && expiring.current_balance != 0 %>
              <tr>
                <td><%= expiring.retailer.name %></td>
                <td><%= number_to_currency(expiring.amount) %></td>
                <td><%= expiring.expiration %></td>
                <td>
                  <a href="/giftcards/<%= expiring.id %>" class="btn btn-primary btn-sm"><i class="fa fa-info" aria-hidden="true"></i></a>
                  <a href="/giftcards/<%= expiring.id %>/edit" class="btn btn-warning btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                  <a href="/delete_giftcard/<%= expiring.id %>" class="btn btn-danger btn-sm" rel="nofollow"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </td>
              </tr>
              <% else %>
              <% end %>
              <% end %>
            </table>
          </div>
        </div>

      </div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-12">
              <h4>Receive something special from a special someone?</h4>
                <a href="giftcards/new" class="btn btn-success btn-lg btn-block">Add a new giftcard</a>
          </div>
            <div class="col-md-12">
              <h4>Use one of your giftcards?</h4>
              <a href="usages/new" class="btn btn-warning btn-lg btn-block">Record a giftcard use</a>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 btn btn-primary disabled">
          <h4>DO A QUICK SEARCH OF YOUR GIFTCARDS BY CATEGORY:</h4>
        </div>
    </div>
    <div class="row landing_theme">
        <div class="col-md-4 landing_theme_search food-background">
          <a href="giftcardstheme/1"><h3>Food</h3></a>
        </div>
        <div class="col-md-4 landing_theme_search movies-background">
          <a href="giftcardstheme/4"><h3>Movies</h3></a>
        </div>
        <div class="col-md-4 landing_theme_search home_improvement-background">
          <a href="giftcardstheme/7"><h3>Home Improvement</h3></a>
        </div>
    </div>
    <div class="row landing_theme">
        <div class="col-md-4 landing_theme_search electronics-background">
          <a href="giftcardstheme/3"><h3>Electronics</h3></a>
        </div>
        <div class="col-md-4 landing_theme_search department_store-background">
          <a href="giftcardstheme/6"><h3>Department Store</h3></a>
        </div>
        <div class="col-md-4 landing_theme_search groceries-background">
          <a href="giftcardstheme/5"><h3>Groceries</h3></a>
        </div>
    </div>
    <div class="row landing-bottom">
        <div class="col-md-6">
          <h4>Connection Center</h4>
          <ul class="list-unstyled">
            <li>Raise</li>
            <li>Twitter</li>
            <li>Facebook</li>
            <li>Google+</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h4>Customer Support</h4>
          <ul class="list-unstyled">
            <li>Help Center</li>
            <li>Getting Started</li>
            <li>Contact Us</li>
            <li>Privacy & Terms</li>
          </ul>
        </div>
    </div>
</div>
