<div class="page-header">
  <h3>Retailer #<%= @retailer.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @retailer.name %></dd>

      <dt>Website</dt>
      <dd><%= @retailer.website %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/retailers" class="btn btn-primary">
        Back
      </a>
      <a href="/retailers/<%= @retailer.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_retailer/<%= @retailer.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
