<!-- Validation failure messages -->
<% if @giftcard.errors.any? %>
<% @giftcard.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h3>Your <strong><%= @giftcard.retailer.name %></strong> giftcard:</h3>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <form action="/update_giftcard/<%= @giftcard.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->

      <input type="hidden" id="user_id" name="user_id" value="<%= @giftcard.user_id %>">

      <!-- Label and input for amount -->
      <div class="form-group">
        <label for="amount" class="control-label">
          Amount
        </label>
        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-usd"></span>
          </span>
          <input type="text" id="amount" name="amount" class="form-control" value="<%= @giftcard.amount %>">
        </div>
      </div>

      <!-- Label and input for retailer_id -->
      <div class="form-group">
        <label for="retailer_id" class="control-label">
          Retailer
        </label>
        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-tags"></span>
          </span>
          <%= select_tag(:retailer_id, options_from_collection_for_select(Retailer.all, :id, :name, @giftcard.retailer_id), :class => "form-control") %>
        </div>
      </div>

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date Received
        </label>
        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
          <input type="date" class='form-control' id="date" name="date" value="<%= @giftcard.date %>">
        </div>
      </div>

      <!-- Label and input for theme_id -->
      <div class="form-group">
        <label for="theme_id" class="control-label">
          Theme
        </label>
        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-shopping-cart"></span>
          </span>
          <%= select_tag(:theme_id, options_from_collection_for_select(Theme.all, :id, :category, @giftcard.theme_id), :class => "form-control") %>
        </div>
      </div>

      <!-- Label and input for code -->
      <div class="form-group">
        <label for="code" class="control-label">
          Code
        </label>
        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-barcode"></span>
          </span>
          <input type="text" id="code" name="code" placeholder="Code" class="form-control" value="<%= @giftcard.code %>">
        </div>
      </div>

      <!-- Label and input for expiration -->
      <div class="form-group">
        <label for="expiration" class="control-label">
          Expiration
        </label>
        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
          <input type="date" class='form-control' id="expiration" name="expiration" value="<%= @giftcard.expiration %>">
        </div>
      </div>

      <!-- Label and input for cardcvv -->
      <div class="form-group">
        <label for="cardcvv" class="control-label">
          Card CVV
        </label>
        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-credit-card"></span>
          </span>
          <input type="text" id="cardcvv" name="cardcvv" placeholder="Card CVV" class="form-control" value="<%= @giftcard.cardcvv %>">
        </div>
      </div>

      <!-- Label and input for notes -->
      <div class="form-group">
        <label for="notes" class="control-label">
          Notes
        </label>

        <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"><%= @giftcard.notes %></textarea>
      </div>

      <button class="btn btn-warning">
        Update Giftcard
      </button>
      or
      <a href="/giftcards/<%= @giftcard.id %>">Cancel</a>
    </form>
  </div>
</div>
</div>
<p> </p>
</div>
